%html(lang='ja')
  %head
    %title みのけん当番表
    %link(rel='stylesheet' href="#{@path_prefix}/css/bootstrap.min.css")
    %link(rel='stylesheet' href="#{@path_prefix}/css/bootstrap-responsive.min.css")
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:src => "#{@path_prefix}/js/bootstrap.min.js"}
  %body
    != yield
